<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Mode" value="Prod"/>
    <add key="orderFilepath" value="C:\Data\SWCFlooring\Orders_"/>
    <add key="productFilepath" value="C:\Data\SWCFlooring\Products.txt"/>
    <add key="taxesFilepath" value="C:\Data\SWCFlooring\Taxes.txt"/>
  </appSettings>
</configuration>